$colors__white: #fff;
$colors__invisible: rgba(0, 0, 0, 0);

$colors__gray--light: #eee;

// Jet
$colors__jet: #342E37;
$colors__jet--light: #464149;
$colors__jet--dark: #2B262E;

// Coral
$colors__coral: #FA824C;
$colors__coral--light: #FBA47C;
$colors__coral--dark: #CD6B3F;

// Steel
$colors__steel: #628395;

// Blue
$colors__blue: #3C91E6;
