$colors__white: #fff;
$colors__invisible: rgba(0, 0, 0, 0);

$colors__gray: #ccc;
$colors__gray--light: #eee;
$colors__gray--lighter: #f8f8f8;

// Jet
$colors__jet: #342E37;
$colors__jet--light: #464149;
$colors__jet--dark: #2B262E;

// Coral
$colors__coral: #FA824C;
$colors__coral--hero: #ec713a;
$colors__coral--light: #FBA47C;
$colors__coral--dark: #CD6B3F;

// Steel
$colors__steel: #628395;

// Blue
$colors__blue: #3C91E6;

// Black
$colors__deep-black: #011627;
$colors__deep-black--light: #213647;
