$fonts__sans: 'Source Sans Pro', serif;
$fonts__monospace: 'Source Code Pro', monospace;
$fonts__header: 'Source Sans Pro', sans-serif;
$fonts__body: 'Source Sans Pro', sans-serif;
$fonts__monospace: 'Source Code Pro', monospace;

$fonts__light: 300;
$fonts__normal: 400;
$fonts__bold: 600;
