.docs {
  &__content {
    box-sizing: border-box;
    padding: 2rem;
  }

  &__container {
    padding: 0;
  }

  @include respond-to(small) {
    &__mobile-only {
      display: none;
    }
    &__main {
      margin-left: 320px;
    }
  }
}

