.hero {

  // background-color: #faf3f3;
  padding: 8rem 0;
  text-align: center;
  margin: 0;
  border-bottom: solid 1px #eee;

  &--coral {
    background-color: $colors__coral--hero;
    color: white;
  }

  &__title {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
  }

  &__subtitle {
    margin-top: .5rem;
    font-size: 32px;
    font-weight: 400;
    max-width: 50ch;
    margin: 0 auto;
    margin-top: 12px;
  }

  &__buttons {
    margin-top: 32px;
  }

  &--blog {
    background-color: $colors__coral--dark;
    color: white;
    padding: 4rem 0;

    .hero__title {
      font-size: 64px;
      margin-top: 12px;
    }
    .hero__subtitle {
      margin-top: 24px;
    }
  }

}
