.hero {
  background-color: $colors__white;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;

    &--medium {
      padding-top: 0;
      padding-bottom: 0;
      min-height: 50vh;
    }
  }

  &__title {
    font-family: $fonts__header;
    font-size: 4rem;
  }

  &__subtitle {
    margin-top: 1rem;
    line-height: 1.4;
    font-size: 1.2rem;
  }

  &__body {
    border-left: solid 4px;
    margin-top: 2rem;
    padding: 1.5rem 2rem;
  }

  &__paragraph {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__buttons {
    display: block;
    margin-top: 1rem;
  }

  &--jet {
    background-color: $colors__jet;
    color: $colors__white;
  }

  &--blue {
    background-color: $colors__blue;
    color: $colors__white;
  }

  &--coral {
    background-color: $colors__coral--dark;
    color: $colors__white;
  }

  &--steel {
    background-color: $colors__steel;
    color: $colors__white;
  }

  &--left {
    .hero__container {
      padding: 4rem 2rem;
      display: block;
      text-align: left;
    }
    .hero__title {
      font-size: 3rem;
    }
  }

  @include respond-to(small) {

    &--left {
      .hero__container {
        padding: 6rem 2rem;
      }
    }
  }

}
