.listings {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;

  &__item {
    box-sizing: border-box;
    width: 360px;
    max-width: 100%;
    padding: 2rem;
  }

  &__title {
    font-size: 32px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    line-height: 1.5;
  }

  &__excerpt {
    font-size: 20px;
    margin-top: 12px;
    line-height: 1.5;
  }

  &__tags {
    display: flex;
    margin-top: 12px;
  }

  &__tag {
    padding: 4px 6px;
    padding-bottom: 4px;
    line-height: 1;
    border: solid 1px;
    font-size: 16px;
    color: $colors__jet;
    opacity: .8;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

}
