.rich-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fonts__header;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    line-height: 1.5;
  }

  strong {
    font-weight: $fonts__bold;
  }

  em {
    font-style: italic;
  }
}
