.rich-text {

  padding-bottom: 4rem;

  &--legible {
    max-width: 70ch;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    box-sizing: content-box;
    font-family: $fonts__header;
    margin-top: -4rem;
    padding-top: 6rem;
    z-index: 1;
  }

  > * {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  h1 {
    font-size: 2.4rem;
    padding-top: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
    z-index: 0;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }

  ul, ol {
    padding-left: 1.5rem;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  p, ul, ol, pre {
    position: relative;
    z-index: 1;
  }

  p, ul, ol {
    line-height: 1.5;
    margin-top: 1rem;
    font-size: 20px;
  }

  li {
    margin-top: .5rem;
    > p {
      line-height: 1.2;
      margin-top: .5rem;
    }
  }

  strong {
    font-weight: $fonts__bold;
  }

  em {
    font-style: italic;
  }

  p, li {
    > code {
      padding: .0625em .25em;
      border: solid 1px #e6e6e6;
      background-color: $colors__gray--lighter;
      border-radius: 2px;
    }
  }

  blockquote p > code {
    border: none;
  }
  
  pre {
    border-left: solid 4px $colors__coral;
    padding: 0 calc(2rem - 4px);
    margin: 1.5rem -2rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .10);
    overflow: auto;
    line-height: 1.2;
  }

  code {
    font-family: $fonts__monospace;
    font-size: .9em;
  }

  pre code {
    display: block;
    overflow-x: auto;
    font-size: 16px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
  }

  blockquote {
    position: relative;
    margin-top: 1rem;
    margin-right: -2rem;
    margin-left: -2rem;
    padding: 1rem 2rem;
    border-left: solid 4px $colors__steel;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .10);

    > * {
      margin-top: 0;
    }
  }

  table {
    margin-top: 1rem;
    th {
      text-align: left;
      font-family: $fonts__header;
    }
    tr {
      border-bottom: solid 1px $colors__gray--light;
      transition: background-color .3s ease-in-out;
      &:hover {
        background-color: $colors__gray--lighter;
      }
    }
    th, td {
      padding: 1rem .5rem;
      vertical-align: middle;
    }
  }

  hr {
    margin: 0 -2rem;
    margin-top: 2rem;
    border: 0;
    border-bottom: solid 1px $colors__gray--light; 
  }

  .hljs {
  }

}
