.sidenav {
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;

  &__container {
    padding-left: calc(50vw - 640px);
    position: fixed;
    z-index: 1;
    top: 4rem;
    left: 0;
    bottom: 0;
    transition: transform .5s ease-in-out;
    transform: translateX(-50vw);
    display: none;
  }

  &--fixed {
    width: 280px;
    border-right: solid 1px $colors__gray--light;
    background-color: $colors__white;
  }

  &__section {
    padding-top: 1rem;
  }

  &__header {
    font-family: $fonts__header;
    font-size: 1.2rem;
  }

  &__link-item {
    padding-top: .5rem;
    font-size: 1rem;
  }

  @include respond-to(small) {
    &__container {
      display: block;
    }
    &__container--visible {
      transform: none;
    }
  }
}
