.sidenav {
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  overflow: auto;

  &__container {
    padding-left: calc(50vw - 640px);
    position: fixed;
    z-index: 1;
    top: 4rem;
    left: 0;
    bottom: 0;
    transition: transform .5s ease-in-out;
    transform: translateX(-50vw);
    display: none;
  }

  &--fixed {
    box-sizing: border-box;
    width: 320px;
    border-right: solid 1px $colors__gray--light;
    background-color: $colors__white;
  }

  &__section {
    margin-top: .5rem;
    &--active {
      .sidenav__list-heading {
        font-weight: $fonts__bold;
      }
      .sidenav__link-item {
        border-left-color: $colors__steel;
      }
    }
  }

  &__header {
    font-family: $fonts__header;
    font-size: 28px;
  }

  &__list-heading {
    margin-top: 1rem;
    color: $colors__steel;
    font-family: $fonts__header;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__link-item {
    border-left: solid 2px $colors__gray--light;
    font-size: 16px;
    padding-left: .5rem;
    font-family: monospace;

    &:first-child {
      margin-top: 1rem;
    }

    &:not(:first-child) {
      padding-top: .5rem;
    }
  }

  @include respond-to(small) {
    &__container {
      display: block;
    }
    &__container--visible {
      transform: none;
    }
  }
}
